#overlay{
  display: none;
position: fixed;
top: 30;
bottom: 50;
left: 0;
right: 0;
z-index: 1;
background-color: plum;
height: 400px;
width: 600px;
}

#modal{
  max-width: 600px;
  height: 300px;
  margin: auto;
  background-color: white;
  position: absolute;
}
